.header{
    background-color: white;
    margin: 150px;
}

.line{
    margin: 200px;
    padding: 50px;

}

ul{
    display:inline-flex;
}

.img{
    margin-right: 100px;
}

li{
    list-style: none;
    margin: 15px;
    color: gray;
}

.buttom{
margin-left: 100px;
}

input{
    color: white;
    background-color: grey;
    padding: 10px;
    border-bottom: none;
    margin: 5px;
}

